.App {
  text-align: center;
}

.Tinycontainer {
  width: 80%;
  /* height: auto; */
  height: 40%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: aqua;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html {
  height: 100%;
  margin: 0;
}

.maintext {
 font-family: 'Helvetica-light', serif;
 font-size: 27px;
 line-height: 29px;
 color: black;
 text-transform: uppercase;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}
.bottomcenter {
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('https://newhippostorage.s3.ap-east-1.amazonaws.com/upload/newfeature/upcoming-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
